* {
   box-sizing: border-box;
}

body {
   font-family: system-ui, Arial, Helvetica, sans-serif;
   font-size: large;
   margin: 0;
   background-color: whitesmoke;
   min-width: min-content;
}

h1 {
   font-size: 3.5vw;
   text-align: center;
}

div {
   display: flex;
   align-items: center;
}

[for=csv-btn],
[type=button],
[type=submit],
select {
   background-color: ghostwhite;
   font-size: large;
   padding: 0.3rem 0.7rem;
   border-radius: 3px;
   border: 1px solid black;
   cursor: pointer;

   &:hover {
      background-color: aquamarine;
   }

   &:active {
      background-color: cyan;
   }

   &:disabled {
      cursor: not-allowed;

      &:hover {
         background-color: ghostwhite;
      }
   }
}

nav {
   position: sticky;
   top: 0;
}

th {
   position: sticky;
   top: auto;

   cursor: pointer;

   &:hover {
      background-color: aquamarine;
   }

   &:active {
      background-color: cyan;
   }


}

table {
   border: 1px solid black;
   border-radius: 3px;
   border-collapse: collapse;

   text-align: center;
   width: 100%;

   thead {
      background-color: lightskyblue;
   }

   th,
   td {
      padding: 0.2rem 0;
      /* border: 1px solid black; */
   }

   tbody {
      tr:nth-child(odd) {
         border: 1px solid black;
         background-color: lightgreen;
      }

      tr:nth-child(even) {
         background-color: whitesmoke;
      }
   }

   tbody.non-first {
      tr:nth-child(odd) {
         border: 1px solid black;
         background-color: lightcoral;
      }

      tr:nth-child(even) {
         background-color: whitesmoke;
      }
   }

   &#fees-table {

      th,
      td {
         border: 1px solid black;
      }
   }
}

dialog {
   border: 1px solid black;
   border-radius: 3px;
}

form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   row-gap: 0.3rem;

   margin: 0.2rem 0.4rem;

   &>input {
      margin-bottom: 0.5rem;
   }
}

[type=search],
[type=text],
[type=number],
[type=date] {
   border: 1px solid black;
   border-radius: 3px;
   font-size: large;
   padding: 0.3rem;
}

search:not([hidden]) {

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   row-gap: 0.8rem;

   padding: 0.8rem 0;
   background-color: beige;

   /* border: 1px solid black; */
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   border-radius: 0 3px 3px 3px;

   label {
      padding: 0.3rem 0.4rem;
      min-width: max-content;
   }

}

.switch-box {

   /* border: 1px solid black; */
   border-radius: 3px;

   label {
      cursor: pointer;

      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      background-color: snow;

      color: #EA1F2D;

      &:first-of-type {
         border-left: 1px solid black;
         border-radius: 3px 0 0 3px;
      }

      &:last-of-type {
         border-radius: 0 3px 3px 0;
      }

      &:hover {
         background-color: aquamarine;
      }
   }

   [type=checkbox]:checked+label {
      background-color: #EA1F2D;
      color: white;

      &:hover {
         background-color: aquamarine;
         color: black;
      }
   }

   [type=checkbox] {
      display: none;
   }
}

select {
   min-width: fit-content;
   padding: 0 0.2rem;
   align-self: normal;
}

#help-search {

   div {
      flex-direction: column;
   }

   [type=number] {
      width: 6rem;
   }
}

#num-recibo {
   line-height: 1.9rem;

   [type=number] {
      width: 7rem;
   }

   div {
      justify-content: space-evenly;
      flex-wrap: wrap;
      row-gap: 0.8rem;

      &>div {
         flex-grow: 1;
      }

      label {
         min-width: max-content;
      }
   }
}

.active-section {
   background-color: beige;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom: none;
}

.filler-tab {
   width: 100%;
   align-self: stretch;
   border-bottom: 1px solid black;
}