* {
   box-sizing: border-box;
}

body {
   font-family: system-ui, Arial, Helvetica, sans-serif;
   font-size: large;
   margin: 0;
   background-color: whitesmoke;
   min-width: min-content;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

h1 {
   font-size: 3.1vw;
   text-align: center;
}

div {
   display: flex;
   align-items: center;
}

[for=csv-btn],
[type=button],
[type=submit],
select {
   background-color: ghostwhite;
   font-size: large;
   padding: 0.4rem 0.6rem;
   border-radius: 3px;
   border: 1px solid black;
   cursor: pointer;

   &:hover {
      background-color: aquamarine;
   }

   &:active {
      background-color: cyan;
   }

   &:disabled {
      cursor: not-allowed;

      &:hover {
         background-color: ghostwhite;
      }
   }
}

nav {
   position: sticky;
   top: 0;
}

th {
   position: sticky;
   top: auto;

   cursor: pointer;

   &:hover {
      background-color: aquamarine;
   }

   &:active {
      background-color: cyan;
   }


}

table {
   border: 1px solid black;
   border-radius: 3px;
   border-collapse: collapse;

   text-align: center;
   width: 100%;

   thead {
      background-color: lightskyblue;
   }

   th,
   td {
      padding: 0.2rem 0;
      /* border: 1px solid black; */
   }

   tbody {
      tr:nth-child(odd) {
         border: 1px solid black;
         background-color: lightgreen;
      }

      tr:nth-child(even) {
         background-color: whitesmoke;
      }
   }

   tbody.non-first {
      tr:nth-child(odd) {
         border: 1px solid black;
         background-color: lightcoral;
      }

      tr:nth-child(even) {
         background-color: whitesmoke;
      }
   }

   &#fees-table {

      th,
      td {
         border: 1px solid black;
      }
   }
}

dialog {
   border: 1px solid black;
   border-radius: 3px;
}

form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   row-gap: 0.3rem;

   margin: 0.2rem 0.4rem;

   &>input {
      margin-bottom: 0.5rem;
   }
}

[type=search],
[type=text],
[type=number],
[type=date] {
   border: 1px solid black;
   border-radius: 3px;
   font-size: large;
   padding: 0.3rem;
}

search:not([hidden]) {

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   row-gap: 0.8rem;

   padding: 0.8rem 0;
   background-color: beige;

   /* border: 1px solid black; */
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   border-radius: 0 3px 3px 3px;

   label {
      padding: 0.3rem 0.4rem;
      min-width: max-content;
   }

}

.switch-box {

   /* border: 1px solid black; */
   border-radius: 3px;

   label {
      cursor: pointer;

      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      background-color: snow;

      color: #EA1F2D;

      &:first-of-type {
         border-left: 1px solid black;
         border-radius: 3px 0 0 3px;
      }

      &:last-of-type {
         border-radius: 0 3px 3px 0;
      }

      &:hover {
         background-color: aquamarine;
      }
   }

   [type=checkbox]:checked+label {
      background-color: #EA1F2D;
      color: white;

      &:hover {
         background-color: aquamarine;
         color: black;
      }
   }

   [type=checkbox] {
      display: none;
   }
}

select {
   min-width: fit-content;
   padding: 0 0.2rem;
   align-self: normal;
}

#help-search {

   div {
      flex-direction: column;
   }

   [type=number] {
      width: 6rem;
   }
}

#num-recibo {
   line-height: 1.9rem;

   [type=number] {
      width: 7rem;
   }

   div {
      justify-content: space-evenly;
      flex-wrap: wrap;
      row-gap: 0.8rem;

      &>div {
         flex-grow: 1;
      }

      label {
         min-width: max-content;
      }
   }
}

.active-section {
   background-color: beige;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom: none;
}

.filler-tab {
   width: 100%;
   align-self: stretch;
   border-bottom: 1px solid black;
}

#receipts {
   display: none;
}

/* Style for the receipts: */

@media print {

   body {
      background-color: transparent;
   }

   body>*:not(#receipts) {
      display: none;
   }

   #receipts {
      display: block;
   }

   aside>article {
      page-break-after: always;
   }
}

@page {
   size: letter portrait;
   margin: 0;
}

/* TODO: DELETE EVERYTHING BELOW */

#test {
   padding: 0.5rem 0.6rem;
   font-size: large;
   display: flex;
   align-items: center;
}

#test2 {
   padding: 0.5rem 0.6rem;
   font-size: large;
   padding-left: 3rem;
   background: url('./icons/content_copy_24dp.png') left / contain content-box no-repeat;
}


#testimg {
   img {
      flex-shrink: 1;
      flex-basis: auto;
   }

   span {
      flex-basis: auto;
      flex-grow: 1;
   }
}

.receipt-template {
   /* max-height: 13.5cm;
   min-height: 13.5cm; */
   height: 13.5cm;

   /* max-width: 21.5cm; */
   /* min-width: 21.5cm; */
   width: 21.5cm;

   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: space-evenly;

   padding: 0 0.3cm;

   font-size: 15px;
   text-transform: uppercase;
   color: #34869c;

   &>div {
      border-radius: 11px;
   }
}

.sec-A {

   border: 3px solid #34869c;

   display: flex;
   align-items: stretch;
   justify-content: space-between;

   height: 5cm;

   &>div {
      padding: 0.3cm;
   }
}

.sec-header {
   display: flex;
   flex-direction: column;
   align-items: center;

   &>div {
      flex-grow: 1;
   }
}

.sec-medidor-recibo {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   row-gap: 0.2cm;

   font-size: 15px;
   width: 3.7cm;
}

.sec-recibo {
   flex-grow: 0.4;

   div {
      flex-grow: 1;
   }

   display: flex;
   flex-direction: column;
   align-items: stretch;

   border: 3px solid #34869c;
   border-radius: 11px;

   div:first-child {
      font-weight: bold;
   }

   div:last-child {
      color: red;
   }

   div {
      justify-content: center;
   }

}

.sec-medidor {
   flex-grow: 1;

   div {
      flex-grow: 1;
   }

   display: flex;
   flex-direction: column;
   align-items: stretch;

   border: 3px solid #34869c;
   border-radius: 11px;

   div:nth-child(odd) {
      font-weight: bold;
   }

   div {
      border-bottom: 3px solid #34869c;
      justify-content: center;
   }

   div:last-child {
      border-bottom: none;
   }
}

.receipt-title {
   font-size: 20px;
   font-weight: bold;
}

[data-field] {
   color: black;
}

.nowrap-whitespace {
   white-space: nowrap;
   text-align: center;
}

.underline-field {
   width: 100%;
}

.underline {
   border-bottom: 2px solid #34869c;
   padding: 0 3px;

   flex-grow: 1;
   justify-content: center;
}

.sec-B {
   border: 3px solid #34869c;
   height: 1.6cm;

   display: flex;
   align-items: stretch;

   &>div {
      width: 50%;
   }
}

.sec-consumo {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: stretch;

   border-right: 1px solid #34869c;

   div {
      justify-content: center;
   }

   div:nth-child(1) {
      border-right: 1px solid #34869c;
      border-bottom: 1px solid #34869c;
   }

   div:nth-child(2) {
      border-left: 1px solid #34869c;
      border-right: 1px solid #34869c;
      border-bottom: 1px solid #34869c;
   }

   div:nth-child(3) {
      border-left: 1px solid #34869c;
      border-bottom: 1px solid #34869c;
   }

   div:nth-child(4) {
      border-top: 1px solid #34869c;
      border-right: 1px solid #34869c;
   }

   div:nth-child(5) {
      border-top: 1px solid #34869c;
      border-left: 1px solid #34869c;
      border-right: 1px solid #34869c;
   }

   div:nth-child(6) {
      border-top: 1px solid #34869c;
      border-left: 1px solid #34869c;
   }
}

.sec-servicio {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: stretch;

   border-left: 1px solid #34869c;

   div:first-child {
      grid-column: 1 / -1;
   }

   div {
      justify-content: center;
   }

   div:nth-child(1) {
      border-bottom: 1px solid #34869c;
   }

   div:nth-child(2) {
      border-top: 1px solid #34869c;
      border-right: 1px solid #34869c;
      border-bottom: 1px solid #34869c;
   }

   div:nth-child(3) {
      border: 1px solid #34869c;
   }

   div:nth-child(4) {
      border-top: 1px solid #34869c;
      border-bottom: 1px solid #34869c;
      border-left: 1px solid #34869c;
   }

   div:nth-child(5) {
      border-top: 1px solid #34869c;
      border-right: 1px solid #34869c;
   }

   div:nth-child(6) {
      border-top: 1px solid #34869c;
      border-left: 1px solid #34869c;
      border-right: 1px solid #34869c;
   }

   div:nth-child(7) {
      border-top: 1px solid #34869c;
      border-left: 1px solid #34869c;
   }
}

.sec-C {
   border: 3px solid #34869c;
   height: 5.4cm;

   display: grid;
   grid-template-columns: 0.2fr 0.2fr 1fr 0.4fr 4.4cm;

   align-items: stretch;

   [data-field=cargo] {
      flex-grow: 1;
      text-align: center;
   }

   &>div:nth-child(3n+1) {
      grid-column: 1 / 2;
      justify-content: center;
   }

   &>div:nth-child(3n+2) {
      grid-column: 2 / 5;
      padding: 0 5px;
      border-left: 2px solid #34869c;
      border-right: 2px solid #34869c;
   }

   &>div:nth-child(3n+3) {
      grid-column: 5 / 6;
      padding: 0 5px;
   }

   &>div:nth-child(2),
   &>div:nth-child(3) {
      justify-content: center;
      padding: 0;
   }

   &>div:nth-child(-n+3) {
      border-bottom: 2px solid #34869c;
   }

   &>div:nth-child(17) {
      justify-content: space-between;
   }

   &>div:nth-child(19) {
      grid-column: 1 / 3;
      border-top: 2px solid #34869c;
      border-right: 2px solid #34869c;
   }

   &>div:nth-child(20) {
      grid-column: 3 / 4;
      border-top: 2px solid #34869c;
      border-left: none;
      border-right: 2px solid #34869c;
   }

   &>div:nth-child(21) {
      grid-column: 4 / 5;
      justify-content: center;
      padding: 0;
      border-top: 2px solid #34869c;
      border-right: 2px solid #34869c;
   }

   &>div:nth-child(22) {
      grid-column: 5 / 6;
      justify-content: stretch;
      padding: 0 5px;
      border-top: 2px solid #34869c;
      border-right: none;
   }

   &>div:nth-child(23) {
      grid-column: 1 / 6;
      justify-content: space-between;
      text-transform: none;
      border-left: none;
      border-right: none;
      border-top: 2px solid #34869c;
   }
}

.sec-C-1 {
   justify-content: space-between;

   div {
      flex-direction: column;
   }

   &>div:last-child {
      width: 4.9cm;
   }
}

.sec-C-2 {
   flex-direction: row;
}

.sec-C-3 {
   justify-content: space-between;
   text-transform: none;
}